@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/*FONTS*/
/* Regular */
@font-face {
    font-family: "Stellar";
    src: url("/fonts/Stellar-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Medium */
@font-face {
    font-family: "Stellar";
    src: url("/fonts/Stellar-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* Bold */
@font-face {
    font-family: "Stellar";
    src: url("/fonts/Stellar-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
:root.dark {
    --dot-bar: #181818;
    --color-primary: #181818;
    --color-bg-primary: #dddddd;
    --color-bg-secondary: #181818;
    --color-bg-variant: #202124;
    --color-text-presentation: #dddddd;
    --color-text: #181818;
    --color-text-secondary: #dddddd;
    --color-text-tertiary: #181818;
    --color-text-same: #dddddd;
    --color-selected: #323639;
    --color-variant: #424242;
    --dot-bg: #202124;
    --dot-color: #dddddd;
}
*,
*::before,
*::after {
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        color 0.2s ease;
}
/*COLOR PALETTE*/
@theme {
    --dot-bar: #d6d6d7;
    --dot-color: #181818;
    --color-primary: #181818;
    --color-bg-primary: #181818;
    --color-bg-secondary: #d6d6d7;
    --color-bg-variant: #202124;
    --color-text-presentation: #dddddd;
    --color-text: #181818;
    --color-text-secondary: #181818;
    --color-text-tertiary: #dddddd;
    --color-text-same: #dddddd;
    --color-selected: #323639;
    --color-variant: #424242;
    --dot-bg: #dddddd;
    --dot-color: #202124;
    --dot-size: 1px;
    --dot-space: 22px;
    --text-huge: clamp(3rem, 22cqw, 32rem);
    --tracking-huge: clamp(1rem, 6cqw, 8rem);
    --translate-start: clamp(-120rem, -40vw, 20rem);
    --translate-distance: clamp(20rem, 81vw, 110rem);
    --animate-fadeIn: fadeIn 1s ease-in-out;
    --animate-fadeOut: fadeOut 1s ease-in-out forwards;
    --animate-blinking: blinking 1s ease-in-out;
    --animate-blinking-cursor: blinking 1s infinite;
    --animate-translateX: translateX 0.5s ease-out;
    --animate-translateX-terminal: translateX 0.3s ease-out;
    --animate-revealLeft: revealLeft 1s ease-out;
    --animate-reveal-text-terminal: revealLeft 0.3s ease-out;
    --animate-openTerminal: openTerminal 0.5s ease-out;
    --animate-moveFooterIcon: moveFooterIcon 0.2s ease-in-out forwards;
    --animate-moveFooterIconLeave: moveFooterIconLeave 0.2s ease-in-out;
    --animate-clickFooterIcon: clickFooterIcon 0.2s ease-in-out;
    --animate-footerIconsAppear: footerIconsAppear 0.2s ease-in-out;
    --animate-footerContainerApear: footerContainerApear 0.5s ease-in-out
        forwards;
    --animate-revealLeftSign: revealLeftSign 1.5s;
    --animate-copyRightLogo: copyRightLogo 0.2s;
    --animate-copyRightYear: copyRightYear 0.2s;
    --animate-growBar: growBar 1s ease-in-out forwards;
    --animate-rotateThemeSwitch: rotateThemeSwitch 0.4s ease-in-out forwards;
    --animate-rotateThemeSwitchBack: rotateThemeSwitchBack 0.4s ease-in-out
        forwards;
}

/*SCROLL*/
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-bg-primary);
    border-radius: 0.5rem;
    border: none;
}

/* FIREFOX*/
* {
    scrollbar-width: 0.5rem;
    scrollbar-color: var(--color-bg-primary) transparent;
}

html {
    font-family: "Stellar", system-ui, sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

h1,
p,
span {
    cursor: default;
}
a {
    cursor: pointer;
}

* {
    user-select: none;
}
.reveal-left {
    clip-path: inset(0 100% 0 0);
    display: inline-block;
    animation: revealLeft 0.6s ease-out forwards;
}

.dotted-bar {
    --dot-size: 1px;
    --dot-space: 4px;
    background:
        linear-gradient(
                90deg,
                var(--dot-bar) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        linear-gradient(
                var(--dot-bar) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

body {
    background:
        linear-gradient(
                90deg,
                var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        linear-gradient(
                var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
                transparent 1%
            )
            center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

/*ANIMATIONS*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes translateX {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(var(--translate-distance));
        opacity: 1;
    }
}

@keyframes revealLeft {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes openTerminal {
    0% {
        transform: scaleX(0) scaleY(0);
        opacity: 0;
    }
    50% {
        transform: scaleX(0.8) scaleY(0.8);
        opacity: 0;
    }
    100% {
        transform: scaleX(1) scaleY(1);
        opacity: 1;
    }
}

@keyframes moveFooterIconStart {
    from {
        transform: translateX(0rem);
    }
    to {
        transform: translateX(2rem);
    }
}

@keyframes moveFooterIcon {
    from {
        transform: translateY(0rem);
        rotate: 0deg;
    }
    to {
        transform: translateY(-0.5rem);
        rotate: 10deg;
    }
}
@keyframes moveFooterIconLeave {
    from {
        transform: translateY(-0.5rem);
        rotate: 10deg;
    }
    to {
        transform: translateY(0rem);
        rotate: 0deg;
    }
}

@keyframes clickFooterIcon {
    0% {
        transform: translateY(0);
        rotate: 0deg;
    }
    40% {
        transform: translateY(-0.6rem);
        rotate: 10deg;
    }
    100% {
        transform: translateY(0);
        rotate: 0deg;
    }
}
@keyframes footerIconsAppear {
    from {
        transform: translateY(1rem);
        opacity: 0;
    }
    to {
        transform: translateY(0rem);
        opacity: 1;
    }
}
@keyframes footerContainerApear {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}
@keyframes revealLeftSign {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes copyRightLogo {
    from {
        scale: 2;
    }
    to {
        scale: 1;
    }
}
@keyframes copyRightYear {
    from {
        opacity: 0;
        transform: translateX(-2rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes growBar {
    from {
        width: 0%;
    }
    to {
        width: var(--bar-width);
    }
}
@keyframes rotateThemeSwitch {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
@keyframes rotateThemeSwitchBack {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}
