---

---

<html>
    <head>
        <script>
            const userLang = navigator.language;
            const lang = userLang.startsWith("es");
            const savedLang = localStorage.getItem("savedLang");

            if (lang || savedLang === "es") {
                window.location.replace("/es");
            } else {
                window.location.replace("/en");
            }
        </script>
    </head>
    <body></body>
</html>
