---
import { createTranslator } from "@/i18n";
const tl = createTranslator(Astro.currentLocale);
---

<section class="flex flex-col w-full h-full xl:text-2xl md:text-sm">
    <div
        id="show-terminal-welcome"
        aria-label="simulated-linux-terminal"
        class="opacity-0 flex flex-col justify-start bg-transparent z-20 absolute w-full h-[85%] items-center border-bg-variant border-2"
    >
        <span
            class="lg:text-sm sm:text-sm text-nowrap text-ellipsis flex flex-row justify-center items-center bg-bg-primary text-text-tertiary min-h-10 w-full"
        >
            {tl("terminal.terminal-remote-header")}
            {tl("terminal.terminal-folder-symbol")}
            <p id="terminal-welcome-folder" class="opacity-0">
                {tl("terminal.terminal-main-folder")}
            </p>
        </span>
        <section
            class="text-bg-primary bg-bg-secondary h-full w-full p-5 overflow-scroll"
        >
            <div class="flex flex-col lg:text-lg sm:text-sm">
                <div class="flex flex-row pb-3">
                    <p class="w-fit">
                        {tl("terminal.terminal-welcome-msg")}
                    </p>
                </div>
                <div class="flex flex-row text-nowrap">
                    <h1
                        id="find-folder-welcome-line"
                        class="font-medium w-fit opacity-0"
                    >
                        {tl("terminal.terminal-remote")}{
                            tl("terminal.terminal-shell-symbol")
                        }
                    </h1>
                    <p
                        id="blinking-cursor-welcome-1"
                        class="animate-blinking-cursor w-3 xl:h-7 md:h-5 bg-selected"
                    >
                    </p>
                    <p id="cd-folder-welcome" class="w-fit opacity-0">
                        {tl("terminal.terminal-cd")}
                        {tl("terminal.terminal-main-folder")}
                    </p>
                </div>
                <div
                    class="flex pb-5 flex-row text-nowrap overflow-hidden lg:pb-0"
                >
                    <h1
                        id="terminal-welcome"
                        class="font-medium w-fit opacity-0"
                    >
                        {tl("terminal.terminal-remote-header")}{
                            tl("terminal.terminal-folder-symbol")
                        }{tl("terminal.terminal-main-folder")}{
                            tl("terminal.terminal-dots")
                        }{tl("terminal.terminal-shell")}
                    </h1>
                    <p
                        id="blinking-cursor-welcome-2"
                        class="opacity-0 w-3 xl:h-7 md:h-5 bg-selected"
                    >
                    </p>
                    <p id="cat-file-welcome" class="w-fit opacity-0">
                        {tl("terminal.terminal-cat")}
                        {tl("terminal.terminal-portfolio-file")}
                    </p>
                </div>
                <div class="flex flex-col">
                    <div class="flex flex-row">
                        <p
                            id="show-text-welcome"
                            class="w-fit opacity-0 text-justify"
                        >
                            {tl("body.resume")}
                        </p>
                    </div>
                    <div class="flex flex-row">
                        <h1
                            id="terminal-resume-welcome"
                            class="font-medium w-fit opacity-0"
                        >
                            {tl("terminal.terminal-remote-header")}{
                                tl("terminal.terminal-folder-symbol")
                            }{tl("terminal.terminal-main-folder")}{
                                tl("terminal.terminal-dots")
                            }{tl("terminal.terminal-shell")}
                        </h1>
                        <p
                            id="blinking-cursor-welcome-3"
                            class="opacity-0 w-3 xl:h-7 md:h-5 bg-selected"
                        >
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<script>
    //first step: show 2nd terminal
    const terminal = document.getElementById("show-terminal-welcome");
    const blinkingCursor1 = document.getElementById(
        "blinking-cursor-welcome-1",
    );
    const folderPath = document.getElementById("cd-folder-welcome");
    const firstLine = document.getElementById("find-folder-welcome-line");
    if (terminal) {
        window.addEventListener("terminal:1:opacity-reduced", () => {
            terminal.classList.remove("opacity-0");
            terminal.classList.add("animate-openTerminal");
        });

        blinkingCursor1
            ? terminal.addEventListener("animationend", () => {
                  if (firstLine) {
                      firstLine.classList.add("opacity-100");
                      const textWidth = firstLine.offsetWidth;
                      blinkingCursor1.style.setProperty(
                          "--translate-distance",
                          `${textWidth}px`,
                      );
                  }
                  blinkingCursor1.classList.add("animate-translateX-terminal");
                  blinkingCursor1.classList.remove("animate-blinking-cursor");
                  blinkingCursor1.classList.remove("opacity-100");
                  blinkingCursor1.classList.add("opacity-0");
                  if (folderPath) {
                      folderPath.classList.add("opacity-100");
                      folderPath.classList.add("animate-reveal-text-terminal");
                  }
              })
            : null;
    }
    //second step: show 2nd line
    const blinkingCursor2 = document.getElementById(
        "blinking-cursor-welcome-2",
    );
    const portfolioFile = document.getElementById("cat-file-welcome");
    const mainFolder = document.getElementById("terminal-welcome-folder");
    const secondLine = document.getElementById("terminal-welcome");
    if (terminal) {
        terminal.addEventListener("animationend", () => {
            if (blinkingCursor2) {
                const textWidth = portfolioFile?.offsetWidth;
                blinkingCursor2.style.setProperty(
                    "--translate-distance",
                    `${textWidth}px`,
                );
            }
        });
        blinkingCursor1
            ? blinkingCursor1.addEventListener("animationend", () => {
                  if (secondLine) {
                      secondLine.classList.add("opacity-100");
                      mainFolder?.classList.add("opacity-100");
                  }

                  if (portfolioFile) {
                      portfolioFile.classList.add("opacity-100");
                      portfolioFile.classList.add(
                          "animate-reveal-text-terminal",
                      );
                      if (blinkingCursor2) {
                          blinkingCursor2.classList.add(
                              "animate-translateX-terminal",
                          );
                          blinkingCursor2.classList.remove("opacity-100");
                          blinkingCursor2.classList.add("opacity-0");
                      }
                  }
              })
            : null;
    }
    //third step: show resume
    const resumeContent = document.getElementById("show-text-welcome");
    const thirdLine = document.getElementById("terminal-resume-welcome");
    if (resumeContent) {
        blinkingCursor2?.addEventListener("animationend", () => {
            if (thirdLine) {
                thirdLine.classList.add("opacity-100");
            }
            resumeContent.classList.add("opacity-100");
        });
    }
    //final step: show blinking cursor
    const blinkingCursor3 = document.getElementById(
        "blinking-cursor-welcome-3",
    );
    if (blinkingCursor3) {
        blinkingCursor2?.addEventListener("animationend", () => {
            blinkingCursor3.classList.add("opacity-100");
            blinkingCursor3.classList.add("animate-blinking-cursor");
            window.dispatchEvent(new CustomEvent("terminal:first"));
        });
    }
</script>
