---
import { useI18n } from "@ariaskit/astro-i18n";
const { t, lang } = useI18n(Astro);
---

<section class="flex flex-col w-full h-full">
    <div
        id="show-terminal"
        class="opacity-0 flex flex-col justify-start bg-transparent z-20 absolute w-full h-[70%] items-center border-primary border-2"
    >
        <span
            class="flex flex-col justify-center items-center bg-primary text-secondary h-10 w-full"
        >
            {t("terminal.terminal-local-header")}
            {t("terminal.terminal-folder-symbol")}
        </span>
        <section
            id="terminal-content"
            class="bg-secondary h-full w-full p-5 overflow-scroll"
        >
            <div class="flex flex-col">
                <div class="flex flex-row">
                    <h1 class="font-medium w-fit">
                        {t("terminal.terminal-local")}{
                            t("terminal.terminal-shell-symbol")
                        }
                    </h1>
                    <p id="ssh-code" class="opacity-0 w-fit">
                        {t("terminal.terminal-ssh")}{
                            t("terminal.terminal-remote-header")
                        }
                    </p>
                    <p
                        id="blinking-cursor"
                        class="animate-blinking-cursor w-3 h-5 bg-selected -translate-x-40"
                    >
                    </p>
                </div>
                <div id="code-login-confirm" class="flex flex-col">
                    <p id="code-login-confirm-text" class="opacity-0">
                        {t("terminal.terminal-confirm")}
                    </p>
                    <p id="code-login-yes" class="opacity-0">
                        {t("terminal.terminal-yes")}
                    </p>
                </div>
            </div>
        </section>
    </div>
</section>
<script>
    //first step: show terminal
    const terminalContent = document.getElementById("terminal-content");
    const terminal = document.getElementById("show-terminal");
    const observer = new IntersectionObserver(
        ([entry]) => {
            if (entry.isIntersecting && terminal && terminalContent) {
                terminal.classList.add("animate-openTerminal");
                terminal.classList.add("opacity-100");
                observer.unobserve(terminalContent);
            }
        },
        { threshold: 0.1 },
    );
    if (terminalContent) observer.observe(terminalContent);
    // second step: cursor tracks text and stops
    const blinkingCursor = document.getElementById("blinking-cursor");
    if (terminal) {
        terminal.addEventListener("animationend", () => {
            if (blinkingCursor) {
                blinkingCursor.style.setProperty(
                    "--translate-distance",
                    "10rem",
                );
                blinkingCursor.classList.add("animate-translateX-terminal");
            }
        });
        blinkingCursor
            ? blinkingCursor.addEventListener("animationend", () => {
                  blinkingCursor.classList.add("translate-x-0");
                  blinkingCursor.classList.add("opacity-0");
                  blinkingCursor.classList.remove("animate-blinking-cursor");
              })
            : null;
    }
    //third step: show ssh code
    const sshCode = document.getElementById("ssh-code");
    if (terminal) {
        terminal.addEventListener("animationend", () => {
            if (sshCode) {
                sshCode.classList.add("animate-reveal-text-terminal");
                sshCode.classList.add("opacity-100");
            }
        });
    }
    //fourth step: show confirm text
    if (sshCode) {
        sshCode.addEventListener("animationend", () => {
            setTimeout(() => {
                const confirmText = document.getElementById(
                    "code-login-confirm-text",
                );
                //fifth step: show yes text
                if (confirmText) {
                    confirmText.classList.add("opacity-100");
                    setTimeout(() => {
                        const yesText =
                            document.getElementById("code-login-yes");
                        if (yesText) {
                            yesText.classList.add("opacity-100");
                        }
                        //sixth step: reduce 1st terminal opacity
                        const terminal =
                            document.getElementById("show-terminal");
                        if (terminal) {
                            terminal.classList.remove("opacity-100");
                            terminal.classList.add("opacity-50");
                            window.dispatchEvent(
                                new CustomEvent(
                                    "terminal:first:opacity-reduced",
                                ),
                            );
                        }
                    }, 500);
                }
            }, 500);
        });
    }
</script>
