---
import { useI18n } from "@ariaskit/astro-i18n";
const { t, lang } = useI18n(Astro);
import RangerLeftContainer from "@/components/RangerContent";
import RangerMiddleContainer from "@/components/RangerContent";
import RangerRightContainer from "@/components/RangerContent";
const menuLeftSelector = 0;
const menuMiddleSelector = 0;
const menuRightSelector = 0;
---

<section class="flex flex-col w-full h-full">
    <div
        id="show-terminal-main-exp-2"
        aria-label="simulated-linux-terminal"
        class="opacity-0 flex flex-col justify-start bg-transparent z-20 absolute w-full h-full items-center border-primary border-2"
    >
        <span
            id="terminal-header-main"
            class="flex flex-row justify-center items-center bg-primary text-secondary h-10 w-full"
        >
            {t("terminal.terminal-remote-header")}{
                t("terminal.terminal-folder-symbol")
            }{t("terminal.terminal-main-folder")}{
                t("terminal.terminal-experience-dir")
            }
        </span>
        <section
            id="terminal-content-main"
            class="flex flex-col items-center bg-secondary h-full w-full p-5 overflow-scroll"
        >
            <span class="font-medium w-full"
                >{t("terminal.terminal-remote-header")}{
                    t("terminal.terminal-folder-symbol")
                }{t("terminal.terminal-main-folder")}{
                    t("terminal.terminal-experience-dir")
                }/{t(`terminal.ranger.options${menuLeftSelector}`)}
            </span>
            <div
                class="flex flex-row border-2 border-primary bg-secondary w-full h-[95%]"
            >
                <section class="w-1/4 p-2">
                    <RangerLeftContainer
                        content={t(`body.ranger.options[${menuLeftSelector}]`)}
                    />
                </section>
                <section class="w-1/4 p-2 border-l-2 border-r-2 border-primary">
                    <RangerMiddleContainer content={t(`body.ranger.options`)} />
                </section>
                <section class="w-2/4 p-2">
                    <RangerRightContainer content={t(`body.ranger.options`)} />
                </section>
            </div>
        </section>
    </div>
</section>
<script>
    //show 2nd terminal
    const terminal = document.getElementById("show-terminal-main-exp-2");
    window.addEventListener("terminal:first:opacity-reduced-exp-2", () => {
        terminal?.classList.remove("opacity-0");
        terminal?.classList.add("animate-openTerminal");
    });
</script>
