---
import { useI18n } from "@ariaskit/astro-i18n";
const { t } = useI18n(Astro);
import BarSectionContent from "@/components/BarSectionContent";

//this get options amount works for all languages
import es from "../../i18n/es.json";
const experiences = JSON.stringify(
    Object.values(es.body.ranger.job_experiences),
);
const careers = JSON.stringify(Object.values(es.body.ranger.careers));
const projects = JSON.stringify(Object.values(es.body.ranger.projects));
---

<section class="flex flex-col w-full h-full">
    <div
        id="show-terminal-exp-4"
        aria-label="simulated-linux-terminal"
        class="lg:text-sm sm:text-sm opacity-0 flex flex-col justify-start bg-transparent z-20 absolute w-full h-full items-center border-bg-variant border-2"
    >
        <span
            id="terminal-header-main"
            class="flex flex-row justify-center items-center bg-bg-primary text-text-tertiary min-h-10 w-full px-4"
        >
            <p class="text-nowrap overflow-hidden text-ellipsis max-w-[70%]">
                {t("terminal.terminal-remote-header")}
                {t("terminal.terminal-folder-symbol")}{
                    t("terminal.terminal-main-folder")
                }{t("terminal.terminal-skills-dir")}
            </p>
        </span>
        <section
            id="terminal-content-main"
            class="bg-bg-secondary text-primary flex flex-col items-center bg-secondary h-full w-full p-5 overflow-y-hidden"
        >
            <BarSectionContent
                client:load
                experienceContent={experiences}
                careerContent={careers}
                projectsContent={projects}
            />
        </section>
    </div>
</section>
<script>
    //first step: show terminal
    const terminal = document.getElementById("show-terminal-exp-4");
    window.addEventListener("htop:part1:ended", () => {
        terminal?.classList.remove("opacity-0");
        terminal?.classList.add("animate-openTerminal");
    });
</script>
