---
import TerminalBarsPart2 from "@/components/TerminalBarsSection.astro";
import TerminalCommand from "@/components/TerminalCommand.astro";
---

<section class="relative w-[90%] h-full">
    <div class="flex flex-col justify-between">
        <div
            aria-label="simulated-linux-terminal"
            class="flex flex-row z-20 pt-10 absolute w-full left-0 h-[90%] items-center justify-center lg:w-[40%]"
        >
            <TerminalCommand
                id="3"
                headerContent="terminal-3nd.header"
                commands="terminal-3nd.commands"
                previousTab="ranger:part2:ended"
            />
        </div>
        <div
            aria-label="simulated-linux-terminal "
            class="flex flex-row z-30 w-full h-full right-0 absolute items-center justify-center lg:w-[80%]"
        >
            <TerminalBarsPart2 />
        </div>
    </div>
</section>
