---
import TerminalExperiencePart1 from "@/components/TerminalExperiencePart-1.astro";
import TerminalExperiencePart2 from "@/components/TerminalExperiencePart-2.astro";
---

<section class="relative w-[90%] h-[90%]">
    <div
        aria-label="simulated-linux-terminal"
        class="flex flex-row z-20 pt-10 absolute w-[40%] left-0 h-[60%] items-center justify-center"
    >
        <TerminalExperiencePart1 />
    </div>
    <div
        aria-label="simulated-linux-terminal "
        class="flex flex-row z-30 w-[80%] h-[90%] right-0 absolute items-center justify-center"
    >
        <TerminalExperiencePart2 />
    </div>
</section>
