---
import TerminalWelcomePart2 from "@/components/TerminalWelcomeSection.astro";
import TerminalCommand from "@/components/TerminalCommand.astro";
---

<section class="relative w-[90%] h-[90%]">
    <div
        aria-label="simulated-linux-terminal "
        class="flex flex-row z-20 pt-10 absolute left-0 w-full h-[60%] items-center justify-center lg:w-[40%]"
    >
        <TerminalCommand
            id="1"
            headerContent={"terminal-1st.header"}
            commands={"terminal-1st.commands"}
        />
    </div>
    <div
        aria-label="simulated-linux-terminal "
        class="flex flex-row z-30 w-full h-full right-0 absolute items-center justify-center lg:w-[70%]"
    >
        <TerminalWelcomePart2 />
    </div>
</section>
