---
import TerminalRangerPart2 from "@/components/TerminalRangerSection.astro";
import TerminalCommand from "@/components/TerminalCommand.astro";
---

<section class="relative w-[90%] h-[90%]">
    <div
        aria-label="simulated-linux-terminal"
        class="flex flex-row z-20 pt-10 absolute w-full left-0 h-[60%] items-center justify-center lg:w-[40%]"
    >
        <TerminalCommand
            id="2"
            headerContent="terminal-2nd.header"
            commands="terminal-2nd.commands"
            previousTab="terminal:first"
        />
    </div>
    <div
        aria-label="simulated-linux-terminal "
        class="flex flex-row z-30 w-full h-[90%] right-0 absolute items-center justify-center lg:w-[80%]"
    >
        <TerminalRangerPart2 />
    </div>
</section>
